// column
@mixin fccc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

@mixin fcsbfs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin fcfsfs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin fcfsc {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin fccfs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin fcfec {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

// row
@mixin frfsc {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

@mixin frsbc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// other
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
